{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": [
      "react",
      "jsx-ally",
      "import"
    ],
    "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": true
    }
  }