#Output {
  min-width: 600px;
}

h2 {
  margin-bottom: 15px !important;
}
.snap {
  border: 1px red dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.snap p {
  margin: 0;
}
.snap img {
  width: 100px;
  height: 100px;
}
.snap-message {
  padding: 12px;
}
